@media (max-width: 877px) {
    .banner_text_block__text {
        text-align: left;
        white-space: normal;
    }

    .banner_text_block__text br {
        display: none;
    }
}

@media (max-width: 768px) {
    .banner_btn {
        justify-content: flex-end;
        max-width: 80%;
        font-size: 16px;
    }

    .btn-icon {
        display: block;
    }

    .btn-text {
        display: none;
    }
}

/*promo*/


@media (max-width: 768px) {
    .card {
        width: 100%;
    }

    .coffee-offers {
       width: 100%;
    }
}

@media (max-width: 768px) {
    .burger {
        display: block;

    }

    .nav {
        display: none;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        background-color: var(--accent-2);
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 16px 0;
        border-bottom: 1px solid #ddd;
        z-index: 2;
    }

    .nav.open {
        display: flex;
    }

    .nav__list {
        flex-direction: column;
        gap: 16px;
    }
}



@media (max-width: 768px) {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 80;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
}

